.login-box {
  position: relative;
  top: 30%;
  width: 200px;
  height: max-content;
  padding-bottom: 10px;
  margin: auto;
  background-color: rgba(255, 255, 255, 0.479);
  border-radius: 10px;
  &__title {
    position: relative;
    text-align: center;
    top: 10px;
    color: rgb(255, 255, 255);
    font-family: "DejaVu Sans Mono", monospace;
    font-weight: 5;
  }
  .register-label {
    font-size: 10px;
    color: rgb(20, 20, 20);
    margin-left: 10px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
  }
}
